.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loaderIcon {
    width: 500px;
}