:root {
    --maxPageWidth: 1080px;
    --paddingBase: 20px;
    --marginBase: 40px;
    --color-primary: white;
    --color-secondary: #626262;
    --radiusBase: 20px;
    --boxShadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}